.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner__heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.banner__text {
  font-size: 16px;
  margin-bottom: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.image-block {
  flex: 0 0 calc(33.33% - 20px);
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-block__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-block__title {
  font-size: 18px;
  margin-bottom: 5px;
}

.image-block__description {
  font-size: 14px;
  margin-bottom: 10px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.counter-block {
  margin-top: 20px;
  position: relative;
}

.left-block__counter-block {
  margin-top: 20px;
  position: relative;
}

.stars-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  z-index: 999;
}

.star-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-icon {
  color: gold;
  font-size: 35px;
  margin-right: 5px;
}

.respect-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.respect-block__image {
  width: 200px;
  height: 200px;
}

@media (max-width: 1200px) {
  .image-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .image-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 767px) {
  .banner {
    margin-left: 20px;
    margin-right: 20px;
  }

  .shop-section {
    margin-left: 20px;
    margin-right: 20px;
  }
}
